<article class="property">
    <a href="/dashboard/properties/{{id}}">
    <div class="title">
        <h2>{{nickname}}</h2>
        <p>{{address}}</p>
    </div>
    </a>
    <div>
        <button id="{{id}}" class="property-btn">Delete Property</button>
    </div>
</article>