<article class="property">
    <div class="property-card">
        <img class="property-image" src="/images/logo-picture.png"/>
        <a href="/dashboard/properties/{{id}}">
        <div class="title">
            <h2>{{nickname}}</h2>
            <p>{{address}}</p>
        </div>
        </a>
    </div>
    <div>
        <button id="{{id}}" class="property-btn">Delete Property</button>
    </div>
</article>