<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moat</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Manrope:wght@200;300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="wrapper">
    <header>
      <a href="/">
        <img class="logo-img" src="/images/logo.png"/>
      </a>
      <nav>
        <a href="/" >Home</a>
        {{#if loggedIn}}
            {{#if landlord}}
            <a href="/dashboard/properties">My Properties</a>
            {{else}}
            <a href="/portal">My Portal</a>
            {{/if}}
            <button id="logout" class="btn-no-style">Logout</button>
        {{/if}}

      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>

    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p class='modal-text'>Some text in the Modal..</p>
      </div>
    </div>

    <footer>
      An Application by Oceans 11
    </footer>
  </div>
</body>


{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
