<div class="form-wrapper">
    {{#if loggedIn}}
    <h1>Welcome to your Moat!</h1>
    {{else}}
    <div class="login">
    <h2>Log In</h2>
    <form class="signup">
        <div class="big-form">
            <label for="email-login">Email:</label>
            <input type="text" id="email-login" />
        </div>
        <div class="big-form">
            <label for="password-login">Password:</label>
            <input type="password" id="password-login" />
        </div>
        <div class="small-form radio">
            <input type="radio" id="landlord" name="resident-type" value="landlord">
            <label type="radio" for="landlord">Landlord</label><br>
            <input type="radio" id="tenant" name="resident-type" value="tenant">
            <label type="radio" for="tenant">Tenant</label><br>
        </div>
        <div class="big-form">
            <button type="submit">Login</button>
        </div>
    </form>

    <p>Not a user yet? Sign up <a href='/signup'>here</a> instead!</p>
    </div>
</div>
{{/if}}

{{#if loggedIn}}
{{else}}
<script src="/javascript/login.js"></script>
{{/if}}