{{#if loggedIn}}
  <h2>Welcome to your property dashboard, {{landlord.first_name}}!</a></h2>
  </br>
{{/if}}
{{#if landlord.properties.length}}
<ol class="property-list">
  {{#each landlord.properties as |property|}}
  <li class="property-box">
    {{> property-info property}}
  </li>
  {{/each}}
</ol>
<script src="/javascript/delete-property.js"></script>
{{else}}
 <h3>No properties to display, add a property to get started!</h3>
 {{/if}}

 <a href="/dashboard/propertyform">+ Add a Property</a>