<a href="/dashboard/properties"> &larr; Back to Property dashboard</a>
<div class="login">
    <h2>Property Details:</h2>
    <form class="signup">
        <div class="big-form">
            <label for="property-nickname">Property Nickname:</label>
            <input type="text" id="property-nickname" />
        </div>
        <div class="big-form">
            <label for="property-address">Property Address:</label>
            <input type="text" id="property-address" />
        </div>
        <div class="big-form">
            <button type="submit">Add Property</button>
        </div>
    </form>
<div>

<script src="/javascript/add-property.js"></script>