{{#if loggedIn}}
  <h2>Welcome {{first_name}}!</a></h2>
{{/if}}
{{#if property.length}}
<ol>
  {{#each property as |property|}}
  <li>
    {{property.name}} <br/>
    {{property.address}}
  </li>
  {{/each}}
</ol>
{{else}}
 <h3>No blog posts to display, time to get posting!</h3>
 {{/if}}