{{> property-info property}}

{{#if property.units.length}}
<h1>Your Units:</h1>
{{#each property.units as |unit|}}
<article>
    <a href="/dashboard/units/{{unit.id}}">
    <div>
        <h3>{{unit.unit_number}}</h3>
    </div>
    </a>
</article>
{{/each}}
{{/if}}
 <a href="/dashboard/unitform/{{property.id}}">+ Add a Unit</a>