<a href="/dashboard/properties"> &larr; Back to Dashboard</a>
{{> property-info property}}

{{#if property.units.length}}
<h2>Your Units:</h2>
{{#each property.units as |unit|}}
<article>
    <a href="/dashboard/units/{{unit.id}}">
    <div>
        <h3>Unit #: {{unit.unit_number}}</h3>
    </div>
    </a>
</article>
{{/each}}
{{/if}}
 <a href="/dashboard/unitform/{{property.id}}">+ Add a Unit</a>