<div class="login">
    <h2>Property Details:</h2>
    <form class="signup">
        <div class="big-form">
            <label for="unit-number">Unit Number:</label>
            <input type="text" id="unit-number" />
        </div>
        <div class="big-form">
            <label for="unit-rent">Unit Rent:</label>
            <input type="text" id="unit-rent" />
        </div>
        <div class="big-form">
            <label for="unit-rentdue">Rent Due On:</label>
            <input type="text" id="unit-rentdue" />
        </div>
        <div class="big-form">
            <button type="submit">Add Property</button>
        </div>
    </form>
<div>

<script src="/javascript/add-unit.js"></script>